.main-container {
  padding: 20px;
}

/********** Header **********/
.header {
  display: flex;
  align-items: center;
}

.header .profile-info {}

.header .profile-info h1 {
  font-family: 'montserrat';
  font-size: 1.2em;
  text-transform: capitalize;
  color: var(--primary)
}

.header .profile-info span {
  font-family: 'montserrat';
  font-weight: bold;
  font-size: .9em;
  color: var(--tertiary);
}

.header .profile-img {
  margin-left: auto;
  margin-right: 0;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header .profile-img img {
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
}

/********** Introduction **********/
.introduction {
  position: relative;
  background-color: var(--primary);
  border-radius: 15px;
  margin: auto;
  padding: 27px;
  overflow: hidden;
  margin-top: 28px;
  z-index: 1;
}

.introduction .banner {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.introduction .get-started {
  font-family: 'montserrat';
  z-index: 3;
  position: relative;
  width: 60%;
  font-size: .6em;
  color: var(--light-mode);
}

.introduction .get-started button {
  position: relative;
  overflow: hidden;
  font-family: 'lora';
  font-size: 1.4em;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  width: 70%;
  top: 10px;
  color: var(--light-mode);
}

/********** Categories **********/
.categories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.categories-container .practice-test, 
.categories-container .quiz {
background-color: var(--secondary);
padding: 10px;
margin: auto;
}
.categories-container .reviewer , 
.categories-container .performance {
background-color: var(--tertiary);
opacity: var(--fade);
padding: 10px;
grid-row:  2;
grid-column: 2;
}